//////////////////////////////////////////////
/// LOGO
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

//////////////////////////////////////////////
/// SEARCH
.search {
  // give it some width
  flex: 0 0 40%;
  // 0 we don't want it to grow to fill all its available space, 0 we also don't want it to shrink and we want it to occupy 40% of the header.
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 50px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem; // move the button on top of the input

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(
        2px
      ); // when we click the button we want it to move a bit down
    }
  }

  &__icon {
    // formatting svg icons is with height and width
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
  &__input:focus &__button &__icon {
    fill: var(--color-grey-dark-1);
  }
}

//////////////////////////////////////////////
/// USER NAVIGATION
.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;

  & > * {
    display: flex;
    align-items: center;
    // .user-nav and all the direct children
    padding: 0 2rem;
    cursor: pointer;
    height: 100%; // this gives us the hover effect
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

//////////////////////////////////////////////
/// SIDE NAVIGATION

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem; // all items but last one
    }
  }

  &__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.1s, width 0.1s cubic-bezier(1, 0, 0, 1) 0.1s,
      background-color 0.1s; // wait until scale to do the width
  }

  &__item:hover::before,
  &__item-active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.4rem 3rem;
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;
  }

  &__link:hover {
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; // the color of the element or parent element, works for links too :-)
  }
}

//////////////////////////////////////////////
/// LEGAL TEXT
.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;
}

//////////////////////////////////////////////
/// GALLERY

.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

//////////////////////////////////////////////
/// PROJECT OVERVIEW
.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-2);
  background-color: #fff;

  &__about {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  &__about--heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem 3rem 0 2rem;
  }

  &__about--description {
    font-size: 1.25rem;
    font-weight: 300;
    padding: 0 0.5rem 1rem 2rem;
  }

  &__progress {
    // flex: 1;
    margin-left: auto; // a great trick to use with flex box
    margin-right: 0;
  }

  &__progress-bar {
    height: 36px;
    width: 350px;
    border-radius: 100px;
    background-color: var(--color-grey-dark-3);
    position: relative;
  }
  &__progress-bar--completed {
    height: 36px;
    background-color: var(--color-secondary);
    transition: all 0.3s linear;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }

  &__info-box {
    background-color: var(--color-secondary);
    color: #fff;
    margin-left: 3rem;
    padding: 0 2.25rem;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__info-box-percentage {
    font-size: 2.25rem;
    font-weight: 300;
  }

  &__info-box-ticket-count {
    font-size: 1rem;
    text-transform: uppercase;
  }
}
