.container {
  max-width: 120rem; // 1200px
  margin: 8rem auto; // center the container
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header {
  font-size: 1.4rem; // set a specific header size
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);

  flex: 0 0 18%; // don't grow, don't shrink, just keep it at 18%

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-view {
  background-color: var(--color-grey-light-4);
  flex: 1; // element should grow as much as it can
  color: #000000;
}

.detail {
  // description and user reviews side by side
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
}

.description {
  font-size: 1.4rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%; // no grow, no shrink, 60%
  margin-right: 4.5rem;
}

.user-reviews {
  background: yellowgreen;
  flex: 1; // occupy remaining space
}
